# This is equivalent configuration to 3D-ICE example_transient.stk

-package.name				3DICE
-package.thermal_library		3dice
-package.thermal_analysis_type		transient
-package.ambient_temperature		300.0
-package.temperature			300.0
-package.chip_length			8.4e-3	# 10mm
-package.chip_width			8.4e-3	# 10mm
-package.grid_rows			50
-package.grid_columns		50
-package.grid_map_mode		max

-package.material					SILICON
-package.material.SILICON.thermal_conductivity		1.30e-4 
-package.material.SILICON.volumetric_heat_capacity	1.628e-12
-package.material					BEOL
-package.material.BEOL.thermal_conductivity		2.25e-6
-package.material.BEOL.volumetric_heat_capacity		2.175e-12

-package.conventional_heatsink					true
-package.conventional_heatsink.heat_transfer_coefficient	2.8e-8

-package.microchannel.type					2rm
-package.microchannel.height					100e-6
-package.microchannel.channel_length				50e-6
-package.microchannel.wall_length				50e-6
-package.microchannel.wall_material				SILICON
-package.microchannel.coolant_flow_rate				42
-package.microchannel.coolant_heat_transfer_coefficient_top	5.7132e-8
-package.microchannel.coolant_heat_transfer_coefficient_bottom	4.7132e-8
-package.microchannel.coolant_volumetric_heat_capacity		4.172e-12
-package.microchannel.coolant_incoming_temperature		300.0

-package.die						DRAM3_IC
-package.die.DRAM3_IC.layer				SOURCE_LAYER
-package.die.DRAM3_IC.layer.SOURCE_LAYER.height		10e-6
-package.die.DRAM3_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.DRAM3_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.DRAM3_IC.layer				BOTTOM_LAYER
-package.die.DRAM3_IC.layer.BOTTOM_LAYER.height		25e-6
-package.die.DRAM3_IC.layer.BOTTOM_LAYER.material		SILICON

-package.die						DRAM2_IC
-package.die.DRAM2_IC.layer				TOP_LAYER
-package.die.DRAM2_IC.layer.TOP_LAYER.height		25e-6
-package.die.DRAM2_IC.layer.TOP_LAYER.material		BEOL
-package.die.DRAM2_IC.layer				SOURCE_LAYER
-package.die.DRAM2_IC.layer.SOURCE_LAYER.height		10e-6
-package.die.DRAM2_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.DRAM2_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.DRAM2_IC.layer				BOTTOM_LAYER
-package.die.DRAM2_IC.layer.BOTTOM_LAYER.height		25e-6
-package.die.DRAM2_IC.layer.BOTTOM_LAYER.material		SILICON

-package.die						DRAM1_IC
-package.die.DRAM1_IC.layer				TOP_LAYER
-package.die.DRAM1_IC.layer.TOP_LAYER.height		25e-6
-package.die.DRAM1_IC.layer.TOP_LAYER.material		BEOL
-package.die.DRAM1_IC.layer				SOURCE_LAYER
-package.die.DRAM1_IC.layer.SOURCE_LAYER.height		10e-6
-package.die.DRAM1_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.DRAM1_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.DRAM1_IC.layer				BOTTOM_LAYER
-package.die.DRAM1_IC.layer.BOTTOM_LAYER.height		25e-6
-package.die.DRAM1_IC.layer.BOTTOM_LAYER.material		SILICON

-package.die						DRAM0_IC
-package.die.DRAM0_IC.layer				TOP_LAYER
-package.die.DRAM0_IC.layer.TOP_LAYER.height		25e-6
-package.die.DRAM0_IC.layer.TOP_LAYER.material		BEOL
-package.die.DRAM0_IC.layer				SOURCE_LAYER
-package.die.DRAM0_IC.layer.SOURCE_LAYER.height		10e-6
-package.die.DRAM0_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.DRAM0_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.DRAM0_IC.layer				BOTTOM_LAYER
-package.die.DRAM0_IC.layer.BOTTOM_LAYER.height		25e-6
-package.die.DRAM0_IC.layer.BOTTOM_LAYER.material		SILICON


-package.die						L2CACHE_IC
-package.die.L2CACHE_IC.layer				TOP_LAYER
-package.die.L2CACHE_IC.layer.TOP_LAYER.height		25e-6
-package.die.L2CACHE_IC.layer.TOP_LAYER.material		BEOL
-package.die.L2CACHE_IC.layer				SOURCE_LAYER
-package.die.L2CACHE_IC.layer.SOURCE_LAYER.height		10e-6
-package.die.L2CACHE_IC.layer.SOURCE_LAYER.material		SILICON
-package.die.L2CACHE_IC.layer.SOURCE_LAYER.is_source_layer	true
-package.die.L2CACHE_IC.layer				BOTTOM_LAYER
-package.die.L2CACHE_IC.layer.BOTTOM_LAYER.height		25e-6
-package.die.L2CACHE_IC.layer.BOTTOM_LAYER.material		SILICON


-package.die						CORE_IC
-package.die.CORE_IC.layer				TOP_LAYER
-package.die.CORE_IC.layer.TOP_LAYER.height		25e-6
-package.die.CORE_IC.layer.TOP_LAYER.material		BEOL
-package.die.CORE_IC.layer				SOURCE_LAYER
-package.die.CORE_IC.layer.SOURCE_LAYER.height	10e-6
-package.die.CORE_IC.layer.SOURCE_LAYER.material	SILICON
-package.die.CORE_IC.layer.SOURCE_LAYER.is_source_layer true
-package.die.CORE_IC.layer				BOTTOM_LAYER
-package.die.CORE_IC.layer.BOTTOM_LAYER.height	25e-6
-package.die.CORE_IC.layer.BOTTOM_LAYER.material	SILICON



-package.stack						TOP_MOST
-package.stack.TOP_MOST.type				layer
-package.stack.TOP_MOST.height			50e-6
-package.stack.TOP_MOST.material			SILICON
-package.stack						DRAM3_DIE
-package.stack.DRAM3_DIE.type				die
-package.stack.DRAM3_DIE.die				DRAM3_IC
-package.stack						DRAM2_DIE
-package.stack.DRAM2_DIE.type				die
-package.stack.DRAM2_DIE.die				DRAM2_IC
-package.stack						DRAM1_DIE
-package.stack.DRAM1_DIE.type				die
-package.stack.DRAM1_DIE.die				DRAM1_IC
-package.stack						DRAM0_DIE
-package.stack.DRAM0_DIE.type				die
-package.stack.DRAM0_DIE.die				DRAM0_IC
-package.stack						DL2_DIE
-package.stack.DL2_DIE.type				die
-package.stack.DL2_DIE.die				L2CACHE_IC
-package.stack						CORE_DIE
-package.stack.CORE_DIE.type				die
-package.stack.CORE_DIE.die				CORE_IC
-package.stack						BOTTOM_MOST
-package.stack.BOTTOM_MOST.type				layer
-package.stack.BOTTOM_MOST.height			100e-6
-package.stack.BOTTOM_MOST.material			SILICON

# DRAM
-package.partition	DRAM3_DIE:VAULT0
-package.partition	DRAM3_DIE:VAULT1
-package.partition	DRAM3_DIE:VAULT2
-package.partition	DRAM3_DIE:VAULT3
-package.partition	DRAM3_DIE:VAULT4
-package.partition	DRAM3_DIE:VAULT5
-package.partition	DRAM3_DIE:VAULT6
-package.partition	DRAM3_DIE:VAULT7
-package.partition	DRAM3_DIE:VAULT8
-package.partition	DRAM3_DIE:VAULT9
-package.partition	DRAM3_DIE:VAULT10
-package.partition	DRAM3_DIE:VAULT11
-package.partition	DRAM3_DIE:VAULT12
-package.partition	DRAM3_DIE:VAULT13
-package.partition	DRAM3_DIE:VAULT14
-package.partition	DRAM3_DIE:VAULT15

-package.partition	DRAM2_DIE:VAULT0
-package.partition	DRAM2_DIE:VAULT1
-package.partition	DRAM2_DIE:VAULT2
-package.partition	DRAM2_DIE:VAULT3
-package.partition	DRAM2_DIE:VAULT4
-package.partition	DRAM2_DIE:VAULT5
-package.partition	DRAM2_DIE:VAULT6
-package.partition	DRAM2_DIE:VAULT7
-package.partition	DRAM2_DIE:VAULT8
-package.partition	DRAM2_DIE:VAULT9
-package.partition	DRAM2_DIE:VAULT10
-package.partition	DRAM2_DIE:VAULT11
-package.partition	DRAM2_DIE:VAULT12
-package.partition	DRAM2_DIE:VAULT13
-package.partition	DRAM2_DIE:VAULT14
-package.partition	DRAM2_DIE:VAULT15

-package.partition	DRAM1_DIE:VAULT0
-package.partition	DRAM1_DIE:VAULT1
-package.partition	DRAM1_DIE:VAULT2
-package.partition	DRAM1_DIE:VAULT3
-package.partition	DRAM1_DIE:VAULT4
-package.partition	DRAM1_DIE:VAULT5
-package.partition	DRAM1_DIE:VAULT6
-package.partition	DRAM1_DIE:VAULT7
-package.partition	DRAM1_DIE:VAULT8
-package.partition	DRAM1_DIE:VAULT9
-package.partition	DRAM1_DIE:VAULT10
-package.partition	DRAM1_DIE:VAULT11
-package.partition	DRAM1_DIE:VAULT12
-package.partition	DRAM1_DIE:VAULT13
-package.partition	DRAM1_DIE:VAULT14
-package.partition	DRAM1_DIE:VAULT15

-package.partition	DRAM0_DIE:VAULT0
-package.partition	DRAM0_DIE:VAULT1
-package.partition	DRAM0_DIE:VAULT2
-package.partition	DRAM0_DIE:VAULT3
-package.partition	DRAM0_DIE:VAULT4
-package.partition	DRAM0_DIE:VAULT5
-package.partition	DRAM0_DIE:VAULT6
-package.partition	DRAM0_DIE:VAULT7
-package.partition	DRAM0_DIE:VAULT8
-package.partition	DRAM0_DIE:VAULT9
-package.partition	DRAM0_DIE:VAULT10
-package.partition	DRAM0_DIE:VAULT11
-package.partition	DRAM0_DIE:VAULT12
-package.partition	DRAM0_DIE:VAULT13
-package.partition	DRAM0_DIE:VAULT14
-package.partition	DRAM0_DIE:VAULT15

# L2CACHE

-package.partition	DL2_DIE:SPOT0
-package.partition	DL2_DIE:SPOT1
-package.partition	DL2_DIE:SPOT2
-package.partition	DL2_DIE:SPOT3
-package.partition	DL2_DIE:SPOT4
-package.partition	DL2_DIE:SPOT5
-package.partition	DL2_DIE:SPOT6
-package.partition	DL2_DIE:SPOT7
-package.partition	DL2_DIE:SPOT8
-package.partition	DL2_DIE:SPOT9
-package.partition	DL2_DIE:SPOT10
-package.partition	DL2_DIE:SPOT11
-package.partition	DL2_DIE:SPOT12
-package.partition	DL2_DIE:SPOT13
-package.partition	DL2_DIE:SPOT14
-package.partition	DL2_DIE:SPOT15

# CORES

-package.partition	CORE_DIE:FRT0
-package.partition	CORE_DIE:FRT1
-package.partition	CORE_DIE:FRT2
-package.partition	CORE_DIE:FRT3
-package.partition	CORE_DIE:FPU0
-package.partition	CORE_DIE:FPU1
-package.partition	CORE_DIE:FPU2
-package.partition	CORE_DIE:FPU3
-package.partition	CORE_DIE:INT0
-package.partition	CORE_DIE:INT1
-package.partition	CORE_DIE:INT2
-package.partition	CORE_DIE:INT3
-package.partition	CORE_DIE:MEM0
-package.partition	CORE_DIE:MEM1
-package.partition	CORE_DIE:MEM2
-package.partition	CORE_DIE:MEM3
-package.partition	CORE_DIE:SCH0
-package.partition	CORE_DIE:SCH1
-package.partition	CORE_DIE:SCH2
-package.partition	CORE_DIE:SCH3

-package.partition	CORE_DIE:FRT4
-package.partition	CORE_DIE:FRT5
-package.partition	CORE_DIE:FRT6
-package.partition	CORE_DIE:FRT7
-package.partition	CORE_DIE:FPU4
-package.partition	CORE_DIE:FPU5
-package.partition	CORE_DIE:FPU6
-package.partition	CORE_DIE:FPU7
-package.partition	CORE_DIE:INT4
-package.partition	CORE_DIE:INT5
-package.partition	CORE_DIE:INT6
-package.partition	CORE_DIE:INT7
-package.partition	CORE_DIE:MEM4
-package.partition	CORE_DIE:MEM5
-package.partition	CORE_DIE:MEM6
-package.partition	CORE_DIE:MEM7
-package.partition	CORE_DIE:SCH4
-package.partition	CORE_DIE:SCH5
-package.partition	CORE_DIE:SCH6
-package.partition	CORE_DIE:SCH7

-package.partition	CORE_DIE:FRT8
-package.partition	CORE_DIE:FRT9
-package.partition	CORE_DIE:FRT10
-package.partition	CORE_DIE:FRT11
-package.partition	CORE_DIE:FPU8
-package.partition	CORE_DIE:FPU9
-package.partition	CORE_DIE:FPU10
-package.partition	CORE_DIE:FPU11
-package.partition	CORE_DIE:INT8
-package.partition	CORE_DIE:INT9
-package.partition	CORE_DIE:INT10
-package.partition	CORE_DIE:INT11
-package.partition	CORE_DIE:MEM8
-package.partition	CORE_DIE:MEM9
-package.partition	CORE_DIE:MEM10
-package.partition	CORE_DIE:MEM11
-package.partition	CORE_DIE:SCH8
-package.partition	CORE_DIE:SCH9
-package.partition	CORE_DIE:SCH10
-package.partition	CORE_DIE:SCH11

-package.partition	CORE_DIE:FRT12
-package.partition	CORE_DIE:FRT13
-package.partition	CORE_DIE:FRT14
-package.partition	CORE_DIE:FRT15
-package.partition	CORE_DIE:FPU12
-package.partition	CORE_DIE:FPU13
-package.partition	CORE_DIE:FPU14
-package.partition	CORE_DIE:FPU15
-package.partition	CORE_DIE:INT12
-package.partition	CORE_DIE:INT13
-package.partition	CORE_DIE:INT14
-package.partition	CORE_DIE:INT15
-package.partition	CORE_DIE:MEM12
-package.partition	CORE_DIE:MEM13
-package.partition	CORE_DIE:MEM14
-package.partition	CORE_DIE:MEM15
-package.partition	CORE_DIE:SCH12
-package.partition	CORE_DIE:SCH13
-package.partition	CORE_DIE:SCH14
-package.partition	CORE_DIE:SCH15

-package.end

-partition.name		DRAM3_DIE:VAULT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT5
-partition.x_left	6.3e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT7
-partition.x_left	6.3e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT9
-partition.x_left	2.1e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT10
-partition.x_left	0.0
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT11
-partition.x_left	2.1e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT13
-partition.x_left	6.3e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end

-partition.name		DRAM3_DIE:VAULT15
-partition.x_left	6.3e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM3_DIE
-partition.end



-partition.name		DRAM2_DIE:VAULT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT5
-partition.x_left	6.3e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT7
-partition.x_left	6.3e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT9
-partition.x_left	2.1e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT10
-partition.x_left	0.0
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT11
-partition.x_left	2.1e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT13
-partition.x_left	6.3e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end

-partition.name		DRAM2_DIE:VAULT15
-partition.x_left	6.3e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM2_DIE
-partition.end



-partition.name		DRAM1_DIE:VAULT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT5
-partition.x_left	6.3e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT7
-partition.x_left	6.3e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT9
-partition.x_left	2.1e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT10
-partition.x_left	0.0
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT11
-partition.x_left	2.1e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT13
-partition.x_left	6.3e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end

-partition.name		DRAM1_DIE:VAULT15
-partition.x_left	6.3e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM1_DIE
-partition.end



-partition.name		DRAM0_DIE:VAULT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT5
-partition.x_left	6.3e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT7
-partition.x_left	6.3e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT9
-partition.x_left	2.1e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT10
-partition.x_left	0.0
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE

-partition.end

-partition.name		DRAM0_DIE:VAULT11
-partition.x_left	2.1e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT13
-partition.x_left	6.3e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

-partition.name		DRAM0_DIE:VAULT15
-partition.x_left	6.3e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DRAM0_DIE
-partition.end

# DRAM ENDS
# L2 CACHE BEGINS

-partition.name		DL2_DIE:SPOT0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT1
-partition.x_left	2.1e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT2
-partition.x_left	0.0
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT3
-partition.x_left	2.1e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT5
-partition.x_left	6.3e-3
-partition.y_bottom	0.0
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT7
-partition.x_left	6.3e-3
-partition.y_bottom	2.1e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT9
-partition.x_left	2.1e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT10
-partition.x_left	0.0
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT11
-partition.x_left	2.1e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT13
-partition.x_left	6.3e-3
-partition.y_bottom	4.2e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

-partition.name		DL2_DIE:SPOT15
-partition.x_left	6.3e-3
-partition.y_bottom	6.3e-3
-partition.layer	1
-partition.width	2.1e-3
-partition.length	2.1e-3
-partition.die		DL2_DIE
-partition.end

# L2CACHE ENDS
# CORE0 BEGINS

-partition.name		CORE_DIE:FRT0
-partition.x_left	1.48e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH0
-partition.x_left	1.48e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU0
-partition.x_left	0.0
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT0
-partition.x_left	0.0
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM0
-partition.x_left	0.0
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE0 ENDS
# CORE1 BEGINS

-partition.name		CORE_DIE:FRT1
-partition.x_left	2.10e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH1
-partition.x_left	2.10e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU1
-partition.x_left	2.72e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT1
-partition.x_left	2.72e-3
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM1
-partition.x_left	2.72e-3
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE1 ENDS
# CORE2 BEGINS

-partition.name		CORE_DIE:FRT2
-partition.x_left	1.48e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH2
-partition.x_left	1.48e-3
-partition.y_bottom	3.00e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU2
-partition.x_left	0.0
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT2
-partition.x_left	0.0
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM2
-partition.x_left	0.0
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE2 ENDS
# CORE3 BEGINS

-partition.name		CORE_DIE:FRT3
-partition.x_left	2.10e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH3
-partition.x_left	2.10e-3
-partition.y_bottom	3.0e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU3
-partition.x_left	2.72e-3
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT3
-partition.x_left	2.72e-3
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM3
-partition.x_left	2.72e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE3 ENDS
# CORE4 BEGINS

-partition.name		CORE_DIE:FRT4
-partition.x_left	5.68e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH4
-partition.x_left	5.68e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU4
-partition.x_left	4.2e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT4
-partition.x_left	4.2e-3
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE

-partition.end

-partition.name		CORE_DIE:MEM4
-partition.x_left	4.2e-3
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE4 ENDS
# CORE5 BEGINS

-partition.name		CORE_DIE:FRT5
-partition.x_left	6.3e-3
-partition.y_bottom	1.20e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH5
-partition.x_left	6.30e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU5
-partition.x_left	6.92e-3
-partition.y_bottom	0.0
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT5
-partition.x_left	6.92e-3
-partition.y_bottom	0.61e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM5
-partition.x_left	6.92e-3
-partition.y_bottom	1.47e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE5 ENDS
# CORE6 BEGINS

-partition.name		CORE_DIE:FRT6
-partition.x_left	5.68e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH6
-partition.x_left	5.68e-3
-partition.y_bottom	3.00e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU6
-partition.x_left	4.2e-3
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT6
-partition.x_left	4.2e-3
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM6
-partition.x_left	4.2e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE6 ENDS
# CORE7 BEGINS

-partition.name		CORE_DIE:FRT7
-partition.x_left	6.30e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH7
-partition.x_left	6.30e-3
-partition.y_bottom	3.0e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU7
-partition.x_left	6.92e-3
-partition.y_bottom	3.59e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT7
-partition.x_left	6.92e-3
-partition.y_bottom	2.73e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM7
-partition.x_left	6.92e-3
-partition.y_bottom	2.10e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE7 ENDS
# CORE8 BEGINS

-partition.name		CORE_DIE:FRT8
-partition.x_left	1.48e-3
-partition.y_bottom	5.40e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH8
-partition.x_left	1.48e-3
-partition.y_bottom	4.20e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU8
-partition.x_left	0.0
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT8
-partition.x_left	0.0
-partition.y_bottom	4.81e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM8
-partition.x_left	0.0
-partition.y_bottom	5.67e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE8 ENDS
# CORE9 BEGINS

-partition.name		CORE_DIE:FRT9
-partition.x_left	2.10e-3
-partition.y_bottom	5.40e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH9
-partition.x_left	2.10e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU9
-partition.x_left	2.72e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT9
-partition.x_left	2.72e-3
-partition.y_bottom	4.81e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM9
-partition.x_left	2.72e-3
-partition.y_bottom	5.67e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE9 ENDS
# CORE10 BEGINS

-partition.name		CORE_DIE:FRT10
-partition.x_left	1.48e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH10
-partition.x_left	1.48e-3
-partition.y_bottom	7.20e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU10
-partition.x_left	0.0
-partition.y_bottom	7.79e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT10
-partition.x_left	0.0
-partition.y_bottom	6.93e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM10
-partition.x_left	0.0
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE10 ENDS
# CORE11 BEGINS

-partition.name		CORE_DIE:FRT11
-partition.x_left	2.10e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH11
-partition.x_left	2.10e-3
-partition.y_bottom	7.2e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU11
-partition.x_left	2.72e-3
-partition.y_bottom	7.79e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT11
-partition.x_left	2.72e-3
-partition.y_bottom	6.93e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM11
-partition.x_left	2.72e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE11 ENDS
# CORE12 BEGINS

-partition.name		CORE_DIE:FRT12
-partition.x_left	5.68e-3
-partition.y_bottom	5.40e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH12
-partition.x_left	5.68e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU12
-partition.x_left	4.2e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT12
-partition.x_left	4.2e-3
-partition.y_bottom	4.81e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM12
-partition.x_left	4.2e-3
-partition.y_bottom	5.67e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE12 ENDS
# CORE13 BEGINS

-partition.name		CORE_DIE:FRT13
-partition.x_left	6.30e-3
-partition.y_bottom	5.40e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH13
-partition.x_left	6.30e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU13
-partition.x_left	6.92e-3
-partition.y_bottom	4.2e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT13
-partition.x_left	6.92e-3
-partition.y_bottom	4.81e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM13
-partition.x_left	6.92e-3
-partition.y_bottom	5.67e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE13 ENDS
# CORE14 BEGINS

-partition.name		CORE_DIE:FRT14
-partition.x_left	5.68e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:SCH14
-partition.x_left	5.68e-3
-partition.y_bottom	7.20e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU14
-partition.x_left	4.2e-3
-partition.y_bottom	7.79e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT14
-partition.x_left	4.2e-3
-partition.y_bottom	6.93e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM14
-partition.x_left	4.2e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE14 ENDS
# CORE15 BEGINS

-partition.name		CORE_DIE:FRT15
-partition.x_left	6.30e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.90e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE

-partition.end

-partition.name		CORE_DIE:SCH15
-partition.x_left	6.30e-3
-partition.y_bottom	7.2e-3
-partition.layer	0
-partition.width	1.20e-3
-partition.length	0.62e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:FPU15
-partition.x_left	6.92e-3
-partition.y_bottom	7.79e-3
-partition.layer	0
-partition.width	0.61e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:INT15
-partition.x_left	6.92e-3
-partition.y_bottom	6.93e-3
-partition.layer	0
-partition.width	0.86e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

-partition.name		CORE_DIE:MEM15
-partition.x_left	6.92e-3
-partition.y_bottom	6.30e-3
-partition.layer	0
-partition.width	0.63e-3
-partition.length	1.48e-3
-partition.die		CORE_DIE
-partition.end

# CORE15 ENDS
